<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <h1>Not authorized</h1>
                </NotAuthorized>
                <Authorizing>
                    <h1>Authorizing...</h1>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h1>Page not found</h1>
        </NotFound>
    </Router>
</CascadingAuthenticationState>