@page "/ModeratorHome"
@attribute [Authorize(Roles = "Moderator")]
@inject NavigationManager Navigation

<h3>Admin Home</h3>

<p>Welcome to the admin home page. Only users with the Admin role can access this page.</p>