/SEP3_T1/BlazorApp/obj/
/SEP3_T1/BlazorApp/bin/
/SEP3_T2/grpc-springboot/.idea
/SEP3_T2/grpc-springboot/.idea
/SEP3_T2/grpc-springboot/target
/SEP3_T1/API/bin
/SEP3_T1/API/obj
/SEP3_T1/GrpcService/bin
/SEP3_T1/GrpcService/obj
/SEP3_T2/grpc-springboot/.idea
