.comments-container {
  padding: 10px;
  background-color: #BDB19A;
  border-radius: 5px;
}

.comment-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #A79078;
  border-radius: 5px;
  color: #563D39;
}

.comment-item p {
  margin: 0;
}

.comment-item .text-muted {
  color: #74655E;
}

.like-section {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.like-button .bi-hand-thumbs-up {
  color: #563D39;
}

.like-button .bi-hand-thumbs-up-fill {
  color: #563D39;
}
.username-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.username-link:hover {
  color: white;
}
.like-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #74655E;
}

.like-button:hover {
  color: #563D39;
}

.like-button .bi-hand-thumbs-up {
  color: #563D39;
}

.like-button .bi-hand-thumbs-up-fill {
  color: #563D39;
}

.edit-button,
.delete-button,
.save-button,
.cancel-button {
  margin-left: auto;
  background-color: #A79078;
  border: 1px solid #BDB19A;
  color: #BDB19A;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover,
.save-button:hover,
.cancel-button:hover {
  background-color: #563D39;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.button-container {
  display: flex; 
  gap: 10px; 
  margin-left: auto; /
}

