@page "/{username}"
@using HttpClients.ClientInterfaces
@inherits LayoutComponentBase
@inject IUserService userService

<div class="profile-page">
    <div class="profile-container">
        <div class="profile-header">
            <img src="https://via.placeholder.com/250" alt="Profile Picture" class="profile-picture" />
            <div class="profile-details">
                <div class="nickname-follow">
                    <h2>@nickname</h2>
                    <button class="follow-btn">Follow</button>
                </div>
                <p>Followers: 100</p>
                <p>Following: 50</p>
            </div>
        </div>
        <p class="username">@username</p>
    </div>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p>@errorMessage</p>
    }
</div>

@code
{
    [Parameter] public string username { get; set; }
    private string nickname;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var user = await userService.GetByUsername(username);
        if (user != null)
        {
            nickname = user.Nickname;
        }
        else
        {
            errorMessage = $"Account with {username} doesn't exist";
        }
    }
}