
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #563D39;
    border-radius: 5px;
    background: #74655E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #563D39;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover {
    background-color: #BDB19A;
    transform: scale(1.05);
}