@page "/moderatorLogin"
@using BlazorApp.Auth
@using DTOs.Models
@using DTOs.Util
@using HttpClients.ClientInterfaces
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider

<div class="login-page-container">
    <link href="LoginStylesheet.css" rel="stylesheet" />

    <div class="login-image">
        <img src="yapper-transparent.png" alt="Placeholder Image"/>
    </div>

    <div class="login-form-container">
        <div class="login-form">
            <input @bind="username" placeholder="Moderator Username"/>
            <input @bind="password" type="password" placeholder="Password"/>
            <button @onclick="LoginImpl">Login</button>
        </div>

        <div class="login-exceptions">
            <p class="error-message">@errorMessage</p>
        </div>
    </div>
</div>

@code {
    private string username;
    private string password;
    private string errorMessage;

    private async Task LoginImpl()
    {
        try
        {
            await ((SimpleAuthProvider)AuthProvider).ModeratorLogin(username, password);
            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            if (username == null || password == null)
            {
                errorMessage = "Username and password are required!";
                return;
            }
            errorMessage = "Credentials do not match, try again!";
        }
    }
}