# Rider specific files
.idea/
*.sln.ide
*.sublime-project
*.sublime-workspace

# Blazor (ASP.NET Core) files
wwwroot/lib/
wwwroot/css/
wwwroot/js/
wwwroot/img/
wwwroot/favicon.ico
**/Properties/launchSettings.json
**/Properties/launchSettings.json.user
**/publish/

# Ignore NuGet packages and related files
*.nupkg
**/packages/
**/.nuget/
**/*.nuget.g.targets
