.chat-container {
    display: flex;
    gap: 20px;
    background-color: #74655E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.accounts-list {
    width: 25%;
    background-color: #563D39;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    height: 100%;
    max-height: 500px; 
    overflow-y: auto;
}

.accounts-list ul {
    list-style: none;
    padding: 0;
}

.accounts-list li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #A79078;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.accounts-list li:hover {
    background-color: #BDB19A;
}

.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #563D39;
    color: #FFFFFF;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    height: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.sender {
    background-color: #A79078;
    margin-left: auto;
    text-align: right;
}

.receiver {
    background-color: #BDB19A;
    margin-right: auto;
    text-align: left;
}

.nickname {
    font-weight: bold;
    margin-bottom: 2px;
}

.timestamp {
    font-size: 0.8em;
    color: #74655E;
    text-align: right;
}

.message-input {
    display: flex;
    gap: 10px;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #74655E;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
}

.message-input button {
    padding: 10px;
    background-color: #A79078;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #BDB19A;
}
