.post-div {
    background-color: #BDB19A;
    border: 1px solid #A79078;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-div label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #563D39;
}

.post-div textarea,
.post-div select,
.post-div input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.post-div textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    border-color: #74655E;
    color: #74655E;
}

.submit-button:hover {
    background-color: #74655E;
    color: #FFFFFF;
}

.submit-error-container {
    display: flex;
    align-items: center;
}

.error-message {
    margin-left: 10px;
    color: #FF0000;
}

.post-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.post-btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-btn.active {
    background-color: #74655E;
    color: #FFFFFF;
}

.post-btn.grey {
    background-color: #E0E0E0;
    color: #000000;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.posts-container {
    flex: 1;
}

.accounts-container {
    width: 300px;
    position: sticky;
    top: 100px;
    right: 0; 
}

.account-box {
    background-image: linear-gradient(180deg, #A79078 0%, #BDB19A 33%, #74655E 66%, #563D39 100%);
    border: 1px solid #A79078;
    border-radius: 8px;
    padding: 15px;
    color: #563D39;
}

.account {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E0E0E0;
    border-radius: 4px;
    text-align: center;
}

.account-nickname {
    cursor: pointer;
    transition: color 0.3s ease;
} 

.account-nickname:hover {
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.top-text {
    text-align: center;
    font-weight: bold;
}
.not-authorized-container{
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-authorized-container-inside{
    border: 5px solid #563D39;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
.not-authorized-image{
    width: 600px; 
    height: 300px;
}
.not-authorized-description{
    font-size: 30px;
    font-weight: bold;
}
.button-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.not-authorized-buttons {
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #563D39;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.not-authorized-buttons:hover {
    background-color: #74655E;
    transform: scale(1.05);
}

.not-authorized-buttons:active {
    transform: scale(0.95);
}
.bottom-left-image {
    width: auto;
    height: auto;
    margin: 0 auto;
}
.not-authorized-moderator-text{
    font-size: 15px;
    margin-top: 25px;
}
.moderator-link {
    color: #563D39;
}
