/* Container for the entire login page */
.login-page-container {
    display: flex;
    height: 100vh; 
    font-family: Arial, sans-serif;
}

/* Left section: image container */
.login-image {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #A79078, #BDB19A, #74655E, #563D39);
}

.login-image img {
    max-width: 70%; 
    max-height: 50%; 
}

/* Right section: login form and footer */
.login-form-container {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Login form styling */
.login-form {
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Error messages styling */
.login-exceptions {
    margin-top: 20px;
    color: red;
    font-size: 12px;
    text-align: center;
}

/* Footer links */
.login-footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}


/* Logo image styling */
.login-image img {
    max-width: 70%; 
    max-height: 70%;
    z-index: 2; 
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
    opacity: 0.9; 
    transition: transform 0.3s, opacity 0.3s; 
}

.login-image img:hover {
    transform: scale(1.05); 
    opacity: 1; 
}

.login-exceptions {
    margin-top: 20px;
    color: red;
    font-size: 12px;
    text-align: center;
}
