@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Yapper</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                @if (isAdmin)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/">
                            <span class="bi bi-house-door" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ManagePosts">
                            <span class="bi bi-file-earmark-post" aria-hidden="true"></span> Manage Posts
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Reports">
                            <span class="bi bi-bar-chart" aria-hidden="true"></span> Reports
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Accounts">
                            <span class="bi bi-person-lines-fill" aria-hidden="true"></span> See Accounts
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ManageCategories">
                            <span class="bi bi-gear" aria-hidden="true"></span> Manage Categories
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Requests">
                            <span class="bi bi-file-earmark-text" aria-hidden="true"></span> See Requests
                        </NavLink>
                    </div>

                }
                else
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@GetProfileUrl()">
                            <span class="bi bi-person-fill" aria-hidden="true"></span>My Account
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/">
                            <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/chat">
                            <span class="bi bi-chat-fill" aria-hidden="true"></span> Chat
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/notifications">
                            <span class="bi bi-bell-fill" aria-hidden="true"></span> Notifications
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/browse-categories">
                            <span class="bi bi-list-ul" aria-hidden="true"></span> Browse Categories
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/category-request">
                            <span class="bi bi-folder-plus" aria-hidden="true"></span> Category Request
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/manage-categories">
                            <span class="bi bi-pencil-fill" aria-hidden="true"></span> Manage Categories
                        </NavLink>
                    </div>
                }
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <span class="bi bi-key-fill" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/register">
                        <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/moderatorLogin">
                        <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Moderator Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? username;
    private bool isAdmin = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        await UpdateUsernameAsync();
        await UpdateUserRoleAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            AuthProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        }
    }
    
    private async Task UpdateUsernameAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
        }
        else
        {
            username = null;
        }

        StateHasChanged(); 
    }

    private async Task UpdateUserRoleAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isAdmin = user.IsInRole("Moderator");
        }
        else
        {
            isAdmin = false;
        }

        StateHasChanged();
    }

    private void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        InvokeAsync(UpdateUsernameAsync);
        InvokeAsync(UpdateUserRoleAsync);
    }
    
    private string GetProfileUrl()
    {
        return $"/Profiles/{username}";
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        AuthProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}